# Python
__pycache__/
*.pyc

# Backend
backend/venv/
backend/.env
backend/service_account.json

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/.env.local

# General
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
